* {
    margin: 0;
    line-height: 2.5 em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header,nav,main,article,section,aside,footer {
    margin: 5px;
    padding: 10px;
    border: 1px solid black;
}
header {
    background-color: black;
    color: white;
}
nav {
    background-color: rgb(6, 0, 0);
}
nav ul li {
    list-style: none; 
}
nav ul {
    display: flex;
    gap: 1em;
    
    background-color: rgba(33, 22, 22, 0.752);
}
nav ul li a {
    text-decoration: none;
    color: white;
}
article  {
    color: white;
}
.section1 {
    background-color: black;
    
    line-height: 1.5em;
}
.section2 {
    background-color: white;
    color: black;
}
main {
    display: flex;
    background-color:lightgrey;
}
article {
    flex: 2;
    margin: 5px;

    background-color: white;
}
aside {
    flex: 1;
    background-color: white;
    margin: 5px;
    
}
ul li {
    line-height: 1.5em;
}
footer {
    background-color: black;
    color: white;
    text-align: center;
}
figcaption {
    color: black;
}